body{
  font-size:14px; 
  background-color:#FFFFFF;

}
p{
  font-family:"Open Sans";

}
.parrafosBarraSuperior{
	color:#FFFFFF;
	font-family:"Open Sans";
	font-size:35px; 

}
.barraSuperior{
	background-color: #2f2d2e;
	height:80px;

}
.segundaBarraNavegacion{
	height:40px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

